
.logo {
    margin-right: 10px;
}

.mainImage {
    width: 95%;
    margin: 10px auto;
    & svg {
        width: 100%;
        @include medq($break-m) {
            width: 80%;
        }
    }
}

.dogNo {
    display: none;
    @include medq($break-m) {
        display: block;
    }
}