header {
    @include flex($dir: column, $align: center);
    padding-top: 20px;
    @include medqL($break-l) {
        width: 95%;
        margin: auto;
        @include flex($dir: row, $align: center, $just: flex-end);
        border-bottom: 1px solid lighten($black, 70%);
        box-shadow: 0px 1px darken($white, 10%);
    }
}

.logoWrap {
    @include medq($break-m) {
        @include flex($dir: row, $align: center);
    }
}

.logoWrap span {
    font-size: 2em;
}

#about,
#adopt,
#locations {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    border-bottom: 1px solid lighten($black, 70%);
    box-shadow: 0px 1px darken($white, 10%);
}

#about {
    @include flex($dir: column-reverse, $align: center);
    @include medq($break-m) {
        @include flex($dir: row-reverse, $align: center, $just: space-around);
    }
}

#locations {

    @include flex($dir: column, $align: center);
}

.intro {
    padding: 10px;
    @include medq($break-m) {
        width: 100%;
    }
}

.dogImgs {
    @include flex($dir: column, $align: center);
    @include medq($break-m) {
        @include flex($dir: row, $align: center, $just: space-around);
    }
    & svg {
        margin: 20px 0px;
    }
}

