// Colors

$white: #FFF;
$black: #000;

$bg: #f8f8f8;
$font: #333c44;
$color-secondary: #ff99ad;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;

//Fonts

$main-font: 'Varela Round', sans-serif;
