* {
    box-sizing: border-box;
}
body {
    font-size: 1em;
    color: $font;
    font-family: $main-font;
}

.wrapper {
    background-color: $bg;
    width: 80%;
    margin: auto;
    height: 100vh;
    max-width: 1000px;
}

.hidden {
    display: none;
}